body {
   
    top: 10%;
}
.navbar {
    color: #3A6351;
    font-size: 3vh;    
    background-color: white;
    opacity: 97%;
    border: thin;
    border-style: solid;
    border-color: #FFE2E2;
    
}
.topshit {
    padding-top: 13%; 
    min-height: 55vh;
    padding-bottom: 5%;
    scroll-snap-type: y mandatory; 
    background-color:#EFF8FF;
    
    
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.proj {
  min-height:70vh;
  max-height: inherit;
  
  padding-top: 10vh;
  align-content: center; 
  vertical-align:inherit;
  
}
#projects .portfolio-item{
text-align: center;
padding-top: 70px;
padding-bottom: 70px;

}


.me {
  min-height:70vh;
  padding-top: 15vh;
    scroll-snap-type: y mandatory;
    margin-bottom: 30vh; 
    margin-bottom:auto; 
    background-color:#EFF8FF;
}
.Contactme {
    min-height:60vh;
    padding-top: 10vh;
    scroll-snap-type: y mandatory;
      
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    width: 100%;
    margin: 0;
    text-align: justify;
 
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 5vh;
    }
h2 {
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-size: 1.3vw;
}
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 5px;
    min-height: 5vl;
}
footer {
    position:relative;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            
            background:#EFF8FF;
}



