
html, body { 
    padding-top: 100px; 
}
header {
    height: 100vh;
    
}
.topshit {
  height:100vh;
    scroll-snap-type: y mandatory;
}
.proj {
  height:100vh;
    scroll-snap-type: y mandatory;
  
}
.me {
  height:100vh;
    scroll-snap-type: y mandatory;
}
.Contactme {
    height:100vh;
      scroll-snap-type: y mandatory;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    width: 100%;
    margin: 0;
    text-align: justify;
    line-height: 1.8;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 3vw;
    }
h2 {
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-size: 1.5vw;
}
#footer {
    position:relative;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            
            /* Height of the footer*/ 
            height: 150px;
            background:grey;
}

#projects .portfolio-item{
text-align: center;
padding-top: 70px;
padding-bottom: 70px;
}

