body {
    max-height: 20px;
    top: auto;
}
.navbar {
    color: #3A6351;
    font-size: 3vh;    
}
.topshit {
    margin-top: 10vh;
    padding-top: 5%; 
    min-height: 55vh;
    padding-bottom: 5%;
    scroll-snap-type: y mandatory; 
    background-color:#F4F9F9;
    
}

.proj {
  min-height:70vh;
  max-height: inherit;
  padding-top: 20vh;
  align-content: center; 
  vertical-align:inherit;
  
}
.me {
  min-height:70vh;
  padding-top: 20vh;
    scroll-snap-type: y mandatory;
    margin-bottom: 40vh; 
    margin-bottom:auto; 
    background-color:#F4F9F9;
}
.Contactme {
    min-height:60vh;
    padding-top: 20vh;
    scroll-snap-type: y mandatory;
      
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    width: 100%;
    margin: 0;
    text-align: justify;
 
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 5vh;
    }
h2 {
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-size: 1.5vw;
}
#footer {
    position:relative;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            
            /* Height of the footer*/ 
            height: 150px;
            background:grey;
}

#projects .portfolio-item{
text-align: center;
padding-top: 70px;
padding-bottom: 70px;
}

